body{
    margin: 0px;
    background-color: rgb(22, 22, 22);
    font-family: "Oswald", sans-serif;
}

#nav-bar-container{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#selected-nav{
    color: green;
    font-weight: bold;
}

.logo-container{
    flex:1;
}
.logo{
    color: green;
    margin-left: 20px;
}

.menu-items-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: auto; */
    font-size: 20px;
    flex: 1;
}
.menu-items-container a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 20px;
}

.profile-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color: yellow; */
    margin-right: 20px;
    flex: 1;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user{
    margin: 10px;
    color: white;
}


.featured-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    /* background-color: white; */
    color: white;
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.movie-name{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.line{
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid white;
}

.movie-home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
    width: auto;
    align-items: center;
}

.movie img{
    height: 400px;
    width: auto;
    display: flex;
}
.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-movie{
    color: white;
    margin: 20px;
}


.footer-bar{
    background-color: black;
    height: 300px;
    width: auto;
}


